@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;


}



nav {
    width: 100vw;
    height: 80px;
    background-color: #09001E;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    box-shadow: 0px 8px 9px 0px rgba(49, 13, 137, 0.33);
    position: fixed;
    top: 0px;


}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #03687B;

}

.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.sobre .bloc {

    margin-top: 10px;
    width: 40vw;
    height: 600px;
    background-color: #03687B;

}

.habilidades {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.habilidades .habilidades-cards {

    width: 90vw;
    height: 600px;
    margin-top: 10px;
    background-color: #03687B;

}

.academico {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.academico .left-block-academico,
.right-block-academico {

    margin-top: 10px;
    width: 40vw;
    height: 600px;
    background-color: #03687B;

}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.social .social-block {

    width: 90vw;
    height: 600px;
    margin-top: 10px;
    background-color: #03687B;

}