@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;


}

body {
    background-color: #27282c;
}



nav {
    width: 99vw;
    height: 80px;
    background-color: #2C223001;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
    border-bottom: 1px #000 solid;


}

nav .logo {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    color: #FF5F00;
}

nav .logo p {
    letter-spacing: 0;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;
}

nav ul li a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: #FF5F00;

}

.home {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 35px 0px;
}


.home .left-block-home,
.right-block-home {

    margin-top: 10px;
    width: 40vw;
    height: 600px;
    /* background-color: #03687B; */

}

.home .left-block-home {
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.home .left-block-home p {
    color: #fff;
    font-size: 55px;
    font-weight: 300;
}

.home .left-block-home h1 {
    font-size: 70px;
    font-weight: 800;
    color: #FF5F00;
}

.buttons-block {
    display: flex;
    flex-direction: row;
    margin: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

.buttons-block a {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;

}

.buttons-block a:hover {
    letter-spacing: 0.25em;
    background: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

.buttons-block a::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #27282c;

}

.buttons-block a span {
    position: relative;
    z-index: 1;
}

.buttons-block a i {
    position: absolute;
    inset: 0;
    display: block;
}

.buttons-block a i::before {
    content: "";
    position: absolute;
    border: 2px var(--clr) solid;
    width: 10px;
    height: 5px;
    left: 80%;
    top: -3.5px;
    transform: translateX(-50%);
    background: #27282c;
    transition: 0.5s;
}

.buttons-block a:hover i::before {

    width: 20px;
    left: 20%;

}

.buttons-block a i::after {
    content: "";
    position: absolute;
    border: 2px var(--clr) solid;
    width: 10px;
    height: 5px;
    left: 20%;
    bottom: -3.5px;
    transform: translateX(-50%);
    background: #27282c;
    transition: 0.5s;
}

.buttons-block a:hover i::after {

    width: 20px;
    left: 80%;

}



.sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


.sobre .left-block-sobre,
.right-block-sobre {

    margin-top: 20px;
    width: 40vw;
    height: 600px;
    /* background-color: #03687B; */

}

.sobre .left-block-academico {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.sobre .left-block-sobre img {
    height: 600px;
    width: 600px;
    border-left: 2px #00ACF6 solid;
    border-radius: 50%;
}



.sobre .right-block-sobre {
    padding: 50px;
    color: #fff;
    font-size: 24px;
    font-weight: 100;
}

.sobre .right-block-sobre p {

    color: #00ACF6;
    font-size: 65px;
    font-weight: 800;
}

.habilidades {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.habilidades h1 {
    font-size: 65px;
    font-weight: 800;
    color: #B600F7;
}


.habilidades .habilidades-cards {

    width: 90vw;
    height: 600px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


}

.habilidades .habilidades-cards .rows {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.habilidades .habilidades-cards .rows .especificacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades .habilidades-cards .rows .especificacao h3 {
    color: #fff;
    font-size: 24px;
    font-weight: 100;
}

.habilidades .habilidades-cards .rows .especificacao .categoria-main {
    margin-top: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.habilidades .habilidades-cards .rows .especificacao .categoria-main .categoria {
    width: 30px;
    height: 15px;
    border: 1px #B600F7 solid;
    background-color: var(--clr);
    box-shadow: 0 0 35px var(--clr);

}

.habilidades .habilidades-cards .rows .especificacao img {

    width: 200px;
    height: 200px;


}





/* 
.projetos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.projetos .left-block-projetos,
.right-block-projetos {

    width: 90vw;
    height: 600px;
    margin-top: 10px;
    background-color: #03687B;

} */